.product-list {
    margin-top: 10px;

}

.product-list .badge {
    margin-bottom: 0px;
    color: #fff;
    padding: 7px;
    background-color: rgb(79, 79, 219);

}

.product-list img {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px;

}

.product-list small {
    margin-top: 0;
    line-height: 15px;
    font-size: 13px;
}



.btn-produto {
    background-color: var(--secondary) !important;
    color: #fff;
    max-width: 35px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    border: none;
}

.product-list-item {
    position: relative;
}



