@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
    --primary: rgb(6, 214, 160);
    --secondary: rgb(250, 100, 61);
}
html, body {
    overflow-x: hidden;    
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.03em;
}

/* Rest of your CSS */

.box {
    background: #fff;
    box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    display: inline-block;
    padding: 50px;
    overflow: auto; /* Add this to ensure the content inside the box is scrollable if it overflows */
}

button {
    position: relative;
    z-index: 9999;
    background-color: #ff0000; /* Cor de fundo vermelha */
    color: #ffffff; /* Cor do texto branca */
    border: none; /* Remove a borda padrão */
    padding: 15px 32px; /* Adiciona algum preenchimento */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
